@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(212, 45%, 89%);
  --color-blue: hsl(220, 15%, 55%);
  --color-darkblue: hsl(217, 94%, 13%);
}

html {
  font-family: 'Outfit', sans-serif;
}

body {
	font-size: 15px;
  background-color: var(--color-gray);
}